{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "electron": "8.0.1"
                }
            }
        ]
    ],
    "plugins": ["react-hot-loader/babel"],
    "sourceMaps": "inline"
}
